<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.aplikasi.partsubtitusipulsar200ns"
        versionCode = "10" 
        version     = "1.0.1" >



   <name>Part Substitusi Pulsar 200NS</name>
  <description>
        Part Substitusi Pulsar 200 NS
  </description>
  <author email="dendybsulistyo@gmail.com" href="http://andita.info">
            Pulsar 200 NS
        </author>

</widget>