<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

        <manifest android:hardwareAccelerated="true" android:versionCode="3" android:versionName="1.0.3" android:windowSoftInputMode="adjustPan" package="com.compay.app" xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- versionCode is optional and Android only -->

   <name>Part Substitusi Pulsar 200NS</name>
  <description>
        Part Substitusi Pulsar 200 NS
  </description>
  <author email="dendybsulistyo@gmail.com" href="http://andita.info">
            Pulsar 200 NS
        </author>

</widget>