<ion-view title="Kabel Kopling">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/1qojaQk5TFEYZ9zYERHg_kabelkopling.png" width="100%" height="auto">
        </div>
        <h3>Substitusi</h3>
        <div>
            <p>Pulsar 180 UG3<br>
            Shogun SP<br>
            Supra XX<br>
            Vespa
            </p>
        </div>
        <a ui-sref="tabsController.sparePart" class="button button-calm button-block ">Back</a>
    </ion-content>
</ion-view>