<ion-view title="Kopling ( Kampas/Plat/Per )">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/o3l1ng8VSRe0r88BJrTf_kopling.png" width="100%" height="auto">
        </div>
        <h3>Substitusi</h3>
        <div>
            <p>Kampas Kopling ( Sesuaikan jumlah Kampas )<br>
             Honda Tiger ( Generasi GL)<br>
             Honda CB<br>
             Honda Supra X 125<br>
             Honda Grand<br>
             Honda Kharisma<br> 
             Honda CBR150<br>
             Kawasaki KLX 150<br>
             Kawasaki AR125<br>
             Kawasaki KX85<br>
             Kawasaki Kaze ZX130<br>
             BAJAJ RE60 (BAJAJ BBG BIRU)</p>
             <br>
            <p>Plat Kopling (Sesuaikan jumlah Plat) <br>
            Honda Grand<br>
            Honda Tiger
            </p>
            <Br>
            <p>Per Kopling <br>
            Ninja RR<br>
            Honda Tiger</p>
            
        </div>
        <a ui-sref="tabsController.sparePart" class="button button-calm button-block ">Back</a>
    </ion-content>
</ion-view>