<ion-view title="Laher / Bearing">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/CJ5iXyaTR8ivD6ZdQc6X_laherbearing.png" width="100%" height="auto">
        </div>
        <h3>Substitusi</h3>
        <div>
            <p>Depan : 2 buah 6202<br> 
            Suzuki RGR, A100, TS125<br>
            Yamaha RX King, RX-Z, RZ-R, Scorpio<bR>
            Kawasaki Ninja R, Kaze, Blitz<br><br>
            </p>

            <p>
            Belakang : 6202, 6302 dan 6005<br>
            6302-RS1 (Honda GL MAX,GL PRO)<br>
            6302-Z ( Thunder 125)<br>
            6202 (Suzuki RGR, A100, TS125)<br>
            Yamaha RX KING, RX-Z, RZ-R<br>
            Kawasaki Ninja R, Kaze, Blitz<br>
            </p>
        </div>
        <a ui-sref="tabsController.sparePart" class="button button-calm button-block ">Back</a>
    </ion-content>
</ion-view>