<ion-view title="Naked Wolves Indonesia">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/3ARj4ejvR5uibalGbGMs_p200ns.png" width="80%" height="auto">
        </div>
        <div class="spacer" style="height: 50px;"></div>
        <div>
        <center>
            <p>Aplikasi ini untuk Pengguna Pulsar 200NS <br>
            yang ingin menggunakan spare part substitusi</p>
        <br>
        Copyright &copy; 2016<br>
        Versi 21.02.16
        </center>
        </div>
    </ion-content>
</ion-view>