<ion-view title="Pilot &amp; Main Jet">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/aZg8157rQWuau5ITuNfj_pilotmainjet.png" width="100%" height="auto">
        </div>
        <h3>Substitusi</h3>
        <div>
            <p>Pilot Jet : Scorpio, F1ZR, Suzuki Satria ( part 18 )</p>

            <p>Main Jet : Honda Tiger, Suzuki Satria ( part 18 )</p>
        </div>
        <a ui-sref="tabsController.sparePart" class="button button-calm button-block ">Back</a>
    </ion-content>
</ion-view>