<ion-view title="Rantai">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div style="text-align:center;">
            <img src="img/gEmyhN4vTTOmVP6neLZU_rantai.png" width="100%" height="auto">
        </div>
        <h4>Substitusi :</h4>
        <div>
            <p>HONDA NSR (PNP) <Br>
            Rantai berukuran 520, jumlah mata 108.</p>
        </div>
        <a ui-sref="tabsController.sparePart" class="button button-calm button-block ">Back</a>
    </ion-content>
</ion-view>