<ion-view title="Spare Part">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <ion-list></ion-list>
        <ion-list>
            <ion-item ui-sref="rantai">Rantai</ion-item>
            <ion-item ui-sref="tabsController.laherBearing">Laher / Bearing</ion-item>
            <ion-item ui-sref="tabsController.busi">Busi</ion-item>
            <ion-item ui-sref="tabsController.napGear">Nap Gear</ion-item>
            <ion-item ui-sref="tabsController.kabelSpeedometer">Kabel Speedometer</ion-item>
            <ion-item ui-sref="tabsController.kabelKopling">Kabel Kopling</ion-item>
            <ion-item ui-sref="tabsController.tuasKoplingDanRem">Tuas Kopling &amp; Rem</ion-item>
            <ion-item ui-sref="tabsController.kampasRem">Kampas Rem</ion-item>
            <ion-item ui-sref="tabsController.pilotMainJet">Pilot &amp; Main Jet</ion-item>
            <ion-item ui-sref="tabsController.girDepan">Gir Depan</ion-item>
            <ion-item ui-sref="tabsController.koplingKampasPlatPer">Kopling ( Kampas/Plat/Per )</ion-item>
        </ion-list>
    </ion-content>
</ion-view>