<ion-view title="Terima Kasih">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <center>
            
            Terima kasih untuk seluruh Member<br>
            <img src="img/VZIv3G9TEan8k0bvgT9x_nwiindo.jpg" width="100%" height="auto">
             <div class="spacer" style="height: 50px;"></div>

            Anggi Dwi Santoso dan Bayu Yudho Bhaskoro<br>
            atas rangkuman daftar spare part 200 NS 

             <div class="spacer" style="height: 50px;"></div>
             Dibuat oleh :<br>
             Dendy B. Sulistyo (andita.info)<br>
             NWI Chapter Yogyakarta<bR>
             2016
            </center>
        </div>
    </ion-content>
</ion-view>